// footer
footer.footer
  .container 
    .footer__container 
      .footer__top 
        .footer__text 
          span Поддержка пользователей:
          a(href="mailto:helpdesk@slimfy.ru") helpdesk@slimfy.ru
        .footer__nav 
          ul
            li 
              a(href="#") Блог
            li 
              a(href="#") О нас
      .footer__center 
        .footer__name ООО «ЛАДЕР», ОГРН 1224600002440
        a(href="#").footer__market 
            img(src="img/google-play-badge.png", alt="" srcset="img/google-play-badge@2x.png 2x")
      .footer__bottom 
        .footer__list 
          ul
            li 
              a(href="#") Политика конфиденциальности
            li 
              a(href="#") Публичная Оферта
            li 
              a(href="#") Политика возврата
            li 
              a(href="#") Оферта рекуррентных платежей
            li 
              a(href="#") Политикой cookies
            li 
              a(href="#") Управление подпиской
      .footer__ps Мы рекомендуем вам проконсультироваться с врачом перед началом любой программы упражнений и плана питания

//	/footer