// header
header.header
  .container
    .header__container.header__container--sticker 
      a(href="#").header__logo 
        img(src="img/logo.svg", alt="")
      a(href="#").header__btn Войти
        img(src="img/account.svg", alt="")
//	/header

