extends core/base.pug

block title 
  title Навигация по страницам

block content

  .wrapper 

    include core/header.pug
    +header

    main.main 

      .container 
      
        .navpage 

          h1 Навигация по страницам

          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="form.html") Форма 
            li 
              a(href="age.html") Возраст
            li 
              a(href="offers.html") Предложения
            li 
              a(href="offers_v2.html") Предложения (версия 2)
            li 
              a(href="offers_v3.html") Предложения (версия 3)
            li 
              a(href="offers_v4.html") Предложения (версия 4)

    include core/footer.pug
