extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .container 
      
        .navpage 

          h1 Навигация по страницам

          ul 
            li 
              a(href="home.html") Главная

    include core/footer.pug
