extends core/base.pug

block title 
  title Навигация по страницам

block content

  .wrapper 

    include core/header.pug
    +header

    main.main 

      .container 
      
        .navpage 

          h1 Навигация по страницам

          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="form.html") Форма 

    include core/footer.pug
