/* tariffs */
.tariffs { 
  margin-bottom: 75px;
  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #1A181B;
    margin-bottom: 38px;
  }
  &__items {
    margin-bottom: 24px;
    .row {
      margin-top: -16px;
      > * {
        padding-top: 16px;
      }
    }
    &--v4 {
      padding-top: 60px;
    }
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 35px;
    color: #fff;
    border: none;
    cursor: pointer;
    user-select: none;
    &--month {
      background-color: $primary;
      .tariffs__card {
        background-image: url(../img/food_01.png), linear-gradient(239.01deg, #B018D2 0%, #8800A7 100%);
      }
    }
    &--week {
      background: linear-gradient(239.01deg, #FF9F47 0%, #F48014 100%);
      .tariffs__card {
        background-color: #fff;
        background-image: url(../img/food_02.png);
        color: #363636;
      }
    }
    &--day {
      background-color: #F5F5F5;
      color: #363636;
      .tariffs__card {
        background-color: #fff;
        background-image: url(../img/food_03.png);
      }
    }
    &:hover {
      .tariffs__card {
        transform: rotate(3deg);
        box-shadow: 0 0px 30px rgba(0, 0, 0, .3);
      }
    }
  }
  &__item-v2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px 32px;
    border-radius: 24px;
    border: 1px solid $primary;
    box-shadow: 0px 6px 20px rgba(161, 159, 162, 0.56);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 123px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    text-align: left;
    &--month {
      background-image: url(../img/food_01-v2.png);
      background-color: $primary;
      color: #fff;
    }
    &--week {
      background-image: url(../img/food_02-v2.png);
      background-color: #fff;
      color: #363636;
      .tariffs__price {
        span {
          color: #7C7A7C;
        }
      }
    }
    &--day {
      background-image: url(../img/food_03-v2.png);
      background-color: #fff;
      color: #363636;
      .tariffs__price {
        span {
          color: #7C7A7C;
        }
      }
    }
    .tariffs__price {
      font-weight: 800;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 0;
      span {
        font-weight: 800;
        font-size: 18px;
        line-height: 30px;
      }
    }
    .tariffs__name {
      width: 100%;
      margin-bottom: 15px;
    }
    &:hover {
      box-shadow: 0px 6px 20px rgba(161, 159, 162, 0.9);
    }
  }
  &__item-v3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px 32px;
    border-radius: 24px;
    border: 1px solid #D5D2D6;
    background-size: 123px;
    color: #363636;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    position: relative;
    &:hover {
      border-color: $primary;
    }
    &--month {
      
    }
    &--week {
      .tariffs__food {
        width: 40px;
      }
    }
    &--day {
      .tariffs__food {
        width: 32px;
      }
    }
    .tariffs__prices {
      margin-bottom: 18px;
    }
    .tariffs__orange-price {
      font-family: "Roboto", sans-serif;
      background: linear-gradient(322.43deg, #9E00C1 8.7%, #8700A5 92.24%);
    }
    .tariffs__price {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 0;
      span {
        font-size: 20px;
        line-height: 30px;
        color: #949494;
        opacity: 1;
      }
    }
  }
  &__item-v4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px 32px;
    padding-top: 66px;
    border-radius: 35px;
    box-shadow: 0px 6px 20px rgba(161, 159, 162, 0.56);
    background-repeat: no-repeat;
    border: none;
    background-position: top right;
    background-size: 123px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    color: #fff;
    text-align: left;
    position: relative;
    &--month {
      background: linear-gradient(239.01deg, #B018D2 0%, #8800A7 100%);
      .tariffs__price {
        span {
          color: #FAE1FF;
        }
      }
      .tariffs__text {
        color: #FAE1FF;
      }
      .tariffs__img {
        width: 186px;
        position: absolute;
        bottom: 0;
        right: -15px;
      }
    }
    &--week {
      background-color: #fff;
      color: #363636;
      .tariffs__price {
        span {
          color: #9A9A9A;
        }
      }
      .tariffs__text {
        color: #9A9A9A;
      }
      .tariffs__img {
        width: 174px;
        position: absolute;
        bottom: 22px;
        right: -20px;
      }
    }
    &--day {
      background-color: #fff;
      color: #363636;
      .tariffs__price {
        span {
          color: #9A9A9A;
        }
      }
      .tariffs__text {
        color: #9A9A9A;
      }
      .tariffs__img {
        width: 185px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    &:hover {
      box-shadow: 0px 6px 20px rgba(161, 159, 162, 0.9);
    }
    .tariffs__name {
      margin-bottom: 14px;
    }
    .tariffs__prices {
      margin-bottom: 5px;
    }
    .tariffs__price {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 0;
      span {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 36px 19px 30px;
  }
  &__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
  }
  &__rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 64px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 35px;
    span {
      display: block;
      font-weight: 500;
      font-size: 18px;
      opacity: 0.8;
    }
  }
  &__card {
    width: 100%;
    min-height: 134px;
    padding: 59px 60px 49px 29px;
    margin-top: auto;
    border-radius: 35px;
    box-shadow: 0 -10px 20px rgba(0,0,0,.1);
    transform-origin: right bottom;
    transition: .3s;
    background-size: 100%, auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    text-align: left;
  }
  &__price {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 12px;
    white-space: nowrap;
    span {
      margin-left: 10px;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      opacity: 0.8;
      text-decoration: line-through;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.8;
  }
  &__approvals{
    .welcome__approval {
      max-width: 920px;
    }
  }
  &__pays {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__pays-items {
    margin-bottom: 24px;
    margin-right: 24px;
  }
  &__pays-items-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
    margin-left: -16px; 
  }
  &__pays-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 16px;
    padding: 13px 32px 12px 21px;
    background: #FFFFFF;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #1A181B;
    img {
      width: 24px;
      margin-right: 16px;
    }
  }
  &__icons {
    margin-bottom: 24px;
  }
  &__icons-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -16px;
  }
  &__icon {
    margin-left: 24px;
    margin-top: 16px;
    img {
      width: 64px;
    }
  }
  &__nums {
    display: flex;
    width: 100%;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  &__num {
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    span {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.8;
    }
  }
  &__prices {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__orange-price {
    padding: 6px 12px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    background: linear-gradient(322.43deg, #FB9538 8.7%, #FF7900 92.24%);
    border-radius: 16px;
    color: #fff;
    white-space: nowrap;
    span {
      font-family: "Roboto", sans-serif;
    }
  }
  &__food-name {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }
  &__food {
    width: 48px;
    margin-right: 16px;
  }
  &__radio {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid $primary;
    position: absolute;
    top: 20px;
    right: 20px;
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background-color: $primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
    }
  }
  &__sticker {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    font-family: "Roboto", sans-serif;
    color: #fff;
    position: absolute;
    top: -75px;
    left: -25px;
    &:before {
      content: '';
      display: block;
      background: linear-gradient(216.24deg, #FF9E47 10.81%, #FF7900 85.77%);
      opacity: 0.2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 100%;
    }
  }
  &__sticker-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 117px;
    border-radius: 100%;
    background: linear-gradient(216.24deg, #FF9E47 10.81%, #FF7900 85.77%);
    font-weight: 800;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    span {
      font-weight: 500;
      font-size: 17px;
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    &__item {
      &--month {
        .tariffs__card {
          background-image: url(../img/food_01@2x.png), linear-gradient(239.01deg, #B018D2 0%, #8800A7 100%);
        }
      }
      &--week {
        .tariffs__card {
          background-image: url(../img/food_02@2x.png);
        }
      }
      &--day {
        .tariffs__card {
          background-image: url(../img/food_03@2x.png);
        }
      }
    }
    &__item-v2 {
      &--month {
        background-image: url(../img/food_01-v2@2x.png);
      }
      &--week {
        background-image: url(../img/food_02-v2@2x.png);
      }
      &--day {
        background-image: url(../img/food_03-v2@2x.png);
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &__item-v4 {
      &--month {
        .tariffs__img {
          width: 170px;
        }
      }
      .tariffs__text {
        max-width: 150px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 50px;
    &__items {
      &--v4 {
        padding-top: 40px;
      }
    }
    &__title {
      margin-bottom: 40px;
    }
    &__head {
      padding: 20px 24px 12px 24px;
    }
    &__name {
      font-size: 28px;
    }
    &__rate {
      font-size: 30px;
    }
    &__card {
      padding: 24px 115px 24px 24px;
    }
    &__price {
      font-size: 30px;
      margin-bottom: 0;
      span {
        font-size: 18px;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 20px;
    }
    &__approvals {
      margin-bottom: 30px;
    }
    &__pays-items {
      width: 100%;
      margin-right: 0;
    }
    &__item-v2 {
      padding: 10px 24px;
      .tariffs__name {
        margin-bottom: 6px;
      }
      .tariffs__prices {
        justify-content: space-between;
        align-items: flex-start;
      }
      .tariffs__price {
        white-space: wrap;
        span {
          display: block;
          margin-left: 0;
        }
      }
    }
    &__num {
      span {
        display: block;
      }
    }
    &__item-v3 {
      &--month {
        .tariffs__food {
          width: 40px;
        }
      }
      &--week {
        .tariffs__food {
          width: 32px;
        }
      }
      &--day {
        .tariffs__food {
          width: 28px;
        }
      }
      .tariffs__food-name {
        margin-bottom: 10px;
      }
      .tariffs__name {
        font-size: 24px;
        line-height: 40px;
      }
      .tariffs__prices {
        align-items: flex-end;
      }
      .tariffs__price {
        font-size: 24px;
        line-height: 32px;
        span {
          display: block;
          margin-left: 0;
          font-size: 18px;
          line-height: 24px;
          margin-top: 10px;
        }
      }
      .tariffs__orange-price {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__item-v4 {
      padding: 62px 16px 24px;
      &--month {
        .tariffs__img {
          width: 142px;
          right: -4px;
        }
      }
      &--day {
        .tariffs__img {
          width: 150px;
        }
      }
      .tariffs__name {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 5px;
      }
      .tariffs__price {
        font-size: 28px;
        line-height: 38px;
        span {
          display: block;
          font-size: 18px;
          line-height: 24px;
          margin-left: 0;
        }
      }
    }
    &__sticker {
      width: 116px;
      height: 116px;
      top: -63px;
      left: -12px;
    }
    &__sticker-inner {
      width: 100px;
      height: 100px;
      font-size: 24px;
      span {
        font-size: 14px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 23px;
    &__items {
      &--v4 {
        padding-top: 0;
        
      }
    }
    &__title {
      font-size: 28px;
      line-height: 36px;
    }
    &__card {
      padding-right: 150px;
    }
    &__approvals {
      .welcome__approval-text {
        font-size: 12px;
        line-height: 16px;
      }
    }
    &__item-v2 {
      padding: 16px 24px;
      .tariffs__price {
        font-size: 22px;
        line-height: 32px;
        span {
          display: inline;
          margin-left: 6px;
          font-size: 14px;
          line-height: 24px;
        }
      }
      .tariffs__name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 15px;
      }
      .tariffs__nums {
        margin-bottom: 15px;
      }
      .tariffs__num {
        font-size: 18px;
        line-height: 20px;
        span {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .tariffs__orange-price {
        font-size: 14px;
        line-height: 18px;
      }
    }
    &__item-v3 {
      padding: 10px 24px 20px;
      .tariffs__food-name {
        margin-bottom: 6px;
      }
      .tariffs__name {
        font-size: 22px;
      }
      .tariffs__prices {
        align-items: center;
        margin-bottom: 7px;
      }
      .tariffs__price {
        span {
          display: inline;
          margin-left: 12px;
        }
      }
      .tariffs__text {
        font-size: 14px;
        line-height: 24px;
      }
    }
    &__item-v4 {
      &--month {
      }
      &--week {
        .tariffs__img {
          bottom: 0;
        }
      }
      &--day {
        .tariffs__img {
          width: 135px;
        }
      }
    }
    .tariffs__name {
      font-size: 24px;
      line-height: 32px;
    }
    .tariffs__price {
      font-size: 22px;
      line-height: 32px;
      span {
        display: inline;
        margin-left: 12px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .tariffs__text {
      max-width: 170px;
      font-size: 14px;
      line-height: 20px;
    }
    &__sticker {
      width: 112px;
      height: 112px;
    }
    &__sticker-inner {
      width: 96px;
      height: 96px;
      font-size: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__pays-item {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }
    &__icon {
      width: 56px;
    }
  }
}
/* /tariffs */