/* warranty */
.warranty { 
  margin-bottom: 77px;
  &__container {
    padding: 32px 282px 32px 56px;
    background-color: #fff;
    box-shadow: 0px 6px 16px rgba(161, 159, 162, 0.16);
    border-radius: 16px;
    border: 1px solid #C2BDC3;
    position: relative;
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #1A181B;
    margin-bottom: 16px;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #474447;
  }
  &__icon {
    width: 180px;
    position: absolute;
    top: -42px;
    right: -34px;
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 64px;
    &__container {
      padding: 24px 56px 24px 40px;
    }
    &__title {
      margin-bottom: 12px;
    }
    &__icon {
      width: 132px;
      top: -38px;
      right: -25px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      padding-right: 90px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 47px;
    &__container {
      padding: 16px 20px 16px 24px;
    }
    &__title {
      font-size: 20px;
      line-height: 28px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
    }
    &__icon {
      width: 112px;
      top: -29px;
      right: -9px;
    }
  }
}

@keyframes rotate-star {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* /warranty */